[submodule "external_modules/Schedule"]
	path = external_modules/Schedule
	url = https://github.com/Misha660406/Schedule.git
	branch = "#17-Дизайн-верха"
[submodule "external_modules/DutySchedule"]
	path = external_modules/DutySchedule
	url = https://github.com/filden78/DutySchedule.git
	branch = gui
[submodule "external_modules/Map"]
	path = external_modules/Map
	url = https://github.com/deadice1/coll.git
